{% extends 'uploads_base.html' %}

{% block page_title %}Загрузка данных{% endblock %}

{% block breadcrubms %}
<li class="breadcrumb-item"><a href="./../">Домой</a></li>
<li class="breadcrumb-item active" aria-current="page">Загрузка Данных</li>
{% endblock %}

{% block content %}
    <div class="content">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Загрузка Данных</h4>
        </div>
        <div class="card-body">
            <p>Тут можно загрузить файл с данными о количестве и расположении койкомест в помещениях учреждения.</p>
            <form action="uploads/beds" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="uploadBedFile">Файл с информацией о количестве и расположении койкомест.</label>
                    <input class="form-control form-control-lg" type="file" id="uploadBedFile" name="uploadBedFile" aria-describedby="uploadBedFileHelp" accept="image/jpeg,image/png,application/pdf" />
                    <small id="uploadBedFileHelp" class="form-text text-muted">Поддерживаются файлы в формате XLS</small>
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}